.app{
  display: flex;
  flex-direction: column; /* Stack children in a vertical column */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of viewport */
  /*width: 500px;*/
  margin: auto;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-container > div {
  flex: 0 0 20%; /* Set width for each item (adjust as needed) */
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}
